
body{
    margin: 0px;
    background-color: hsl(191, 30%, 58%);
}

ul {

    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #1e9165;
}

li {
    float:left;
    
}

li a {

    display: block;
    color: #ffffff;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    padding: 32px 12px;
    text-decoration: none;
}

li a:hover {

    background-color: rgba(199, 197, 197, 0.41);

}

p {
    text-align: center;
    color: white;
    font-size: 24px;
}


.white-text {

    font-size: 24px;
    color: #ffffff;

}

/*
div{

    position:absolute;
    top: 70px;
    right: 100px;
    border: 3px;

    text-align: center;
    height: 13s0px;
    width: 350px;
    margin: auto;
    background-color:rgb(26, 126, 214);
    
}
*/

.sticky{

    position:absolute;
    top: 70px;
    right: 100px;
    border: 3px;

    text-align: center;
    height: 13s0px;
    width: 350px;
    margin: auto;
    background-color:rgb(26, 126, 214);
    
}

.starlost{

    border-radius: 32px;
    position:absolute;
    top: 550px;
    right: 1000px;
    border: 3px;

    text-align: center;
    height: 230px;
    width: 350px;
    margin: auto;
    background-color:rgb(25, 194, 157);
    
}

.starlost-header-text {

    top: 240px;
    right: 800px;
    font-size: 24px;
    color: #cecece;
    
}

.starlost-img {


    width: 350px;
    height: 250px;
    border-radius: 24px;
}


h1{
    text-align: center;
    color: white;
    font-size: 67px;
}

.creatisoft-logo-img {
    
    position:absolute;
    top: 120px;
    right: 550px;

    height: 250px;
    width:  250px;


}

.creatisoft-welcome {
    
    position:absolute;
    top: 350px;
    right: 520px;
}

.discription-text {
    

    font-size: 22px;


}