body{

    background-color: rgb(7, 152, 255);

}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(39, 65, 94);
    
    border-radius: 24px;
    border-style: solid;
    border-color: rgb(4, 30, 44);
}

li {

    float: left;

}

li a {

    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    padding: 24px;
    font-weight: bold;
    text-decoration:none;
}

li a:hover{

    background-color: rgb(28, 60, 219);
}